<mat-toolbar color="primary" style="height: 50px;">

    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>Online Test</span>

    <span class="example-spacer"></span>
    <!-- <a  href="/login"   mat-icon-button class="example-icon favorite-icon" style="margin-right: 40px;" 
    aria-label="Example icon-button with heart icon">
      <span style="height: 20px;"></span>
</a> -->
<a *ngIf="!loginService.isLoggedIn()" routerLink="/login"><span style="text-decoration: none; color: white;" class="mr20">Login</span></a>
<!--    
    <a href="/signup"  mat-icon-button class="example-icon favorite-icon" style="margin-right: 50px;" 
    aria-label="Example icon-button with heart icon">
    
</a> -->
<a  *ngIf="!loginService.isLoggedIn()" [routerLink]="'/signup'"><span style="text-decoration: none; color: white;">Register</span></a>


<a  *ngIf="loginService.isLoggedIn()"  routerLink="/login"><span style="text-decoration: none; color: white;" class="mr20" (click)="logOut()">Logout</span></a>  
  </mat-toolbar>
  