<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-2">
            <!-- instructions -->
            <mat-card style="margin-top: 67px;">
            <h3><b>Instructions</b></h3>
            <ul>
                <li>Do not refresh the page otherwise you will get new questions in this quiz.</li>
                <li>Do not switch the tap.</li>
                 <li>Do not minimize the window.</li>
          </ul>
         </mat-card>          
            </div>
           
           
            <div class="col-md-8">
           <!-- questions -->
           <ng-container *ngIf="questions">
          
               <h2 class="mt20">On Going Test <b>{{questions[0].quiz.title}}</b></h2>
          
           </ng-container>

           <mat-card *ngFor="let q of questions; let i=index" class="mt10">
            
            <mat-card-content> <p> Q.{{i+1}}<span class="ml10" [innerHTML]="q.content"></span></p></mat-card-content>
            <mat-divider></mat-divider>
      
            <div class="row mt20">

                <div class="col-md-6">
                    <input 
                    [(ngModel)]="q.option1"
                    type="radio" 
                    value="q.option1" 
                     name="i"
                      /> {{q.option1}}  
                </div>

                <div class="col-md-6">
                 <input type="radio" value="q.option2" [name]="i.toString()"
                 [(ngModel)]="q.givenAnswer"/> {{q.option2}}  
                </div>
            </div>

            <div class="row mt20">

                <div class="col-md-6">
                    <input type="radio" value="q.option3" [name]="i.toString()" 
                    [(ngModel)]="q.givenAnswer"/> {{q.option3}}  
                </div>

                <div class="col-md-6">
                 <input type="radio" value="q.option4" [name]="i.toString()"
                 [(ngModel)]="q.givenAnswer"> {{q.option4}}  
                </div>
            </div>

           </mat-card>
           <div class="container text-center mt20">
            <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Test</button>
           </div>
            </div>

            <div class="col-md-2">
                <!-- progress -->
                <mat-card style="margin-top: 67px;">
                 <mat-card-header>
                    <mat-card-title>Progress</mat-card-title>
                    <mat-card-subtitle>Test will automatically submitted when timer reaches to <b> 0:0 </b></mat-card-subtitle>
                 </mat-card-header>
                 
                    <mat-card-content>
                        <h2 class="text-center">{{getFormattedTime()}}</h2>

                        <mat-spinner 
                        mode="determinate"            
                        style="margin: auto;"
                        
                        >
                        </mat-spinner>

                    </mat-card-content>
                </mat-card>


            </div>
        </div>
    </div>
</div>


<!-- Show the result -->

<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row mt20">
        <div class="col-md-6 offset-md-3">
       <mat-card>
        <mat-card-header>
            <mat-card-title>
                Test Result
            </mat-card-title>
        </mat-card-header>

        <mat-card-content  class="text-center">
            <h3>Marks Got : {{marksGot}}</h3>
            <h3>Correct Answers : {{correctAnswers}}</h3>
            <h3>Questions Attempted : {{attempted}}</h3>
        </mat-card-content>
        <mat-card-actions >
          <div class="container text-center mt20">
            <button mat-raised-button style="margin-right: 10px;" color="primary" [routerLink]="'/user-dashboard/0'">Home</button>
            <button mat-raised-button color="accent" (click)="printPage()">Print Result</button>
            
           </div>
        </mat-card-actions>
    </mat-card>    
    </div>
    </div>
</div>