

<mat-card>
    <h2>Your Profile Details</h2>
    <mat-card-content>
     <div class="bootstrap-wraaper">
        <div class="container">
            
             <div class="container text-center"> <!--  center thing for container -->
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRbiMjUoOxJCAMB9poSO2wLg34m7OxmyaT-A&usqp=CAU" 
                alt="" class="profile-image"/>

                <h2 class="mt20">Raghvendra</h2>
            </div>
            
            <div class="row">

                <div class="col-md-10 offser-md-1 ">
                      <!-- table Details -->
                 <table class="table text-center">
                    <tr >
                        <td>Username</td>
                        <td>Raghav123</td>
                    </tr>
                    <tr >
                        <td>Userid</td>
                        <td>Raghav123</td>
                    </tr>
                    <tr >
                        <td>Phone</td>
                        <td>1234567896</td>
                    </tr>
                    <tr >
                        <td>Role</td>
                        <td>Admin</td>
                    </tr>
                    <tr >
                        <td>Status</td>
                        <td>Active</td>
                    </tr>
                 </table>
                </div>

            </div>
        </div>
     </div>   
     
     <mat-card-actions class="text-center">
     <button mat-raised-button color="primary">Update</button>
     <button mat-raised-button color="accent">Delete</button>
     </mat-card-actions>
    </mat-card-content>
</mat-card>
