

<div class="bootstrap-wrapper"><!-- bootstrap-wrapper for run bootstrap things-->
 <div class="container"> 
  <diV class="row" style="margin-top: 40px;"> 
    <div class="col-md-6 offset-md-3">

        <!--<mat-card>-->
      <div class="container text-center">
        <img src="assets/logo.jpg" alt="" style="width: 150px; height: 200px; border-radius: 50px 20px;
        ">
      </div>
             
         <h2 class="text-center">Login Here !!</h2>
        <form (ngSubmit)="formSubmit()">
          
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>User Name</mat-label>
                <input [(ngModel)]="loginData.username" required matInput placeholder="Enter here" type="text" name="username">
                 <!-- <mat-hint>Valid User Name</mat-hint> -->
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>User Password</mat-label>
                <input [(ngModel)]="loginData.password" required matInput placeholder="Enter here" type="password" name="password">
               </mat-form-field>    
         
            <div class="container text-center">
            <button mat-raised-button color="primary" type="submit">Login</button>
            <button mat-raised-button color="accent" class="ml20" type="reset">Reset</button>
            </div>  

         </form>
    
   <!--</mat-card> -->  
       </div>
      </diV>
     </div>
    </div> 

